src_code/JBSIS2EForms/contracts/CheckReportStatusClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/CheckReportStatus/1.0/wsdl/CheckReportStatusImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/1.0/xsd" xmlns:ns1="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" name="Untitled" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/CheckReportStatus/1.0/wsdl/CheckReportStatusImpl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/UserInfo/1.0/xsd" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/1.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="UserInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Court_Code" type="xs:string"/>
                        <xs:element name="UserName" type="xs:string" minOccurs="0"/>
                        <xs:element name="Request_Date" type="xs:string"/>
                        <xs:element name="Request_Time" type="xs:string"/>
                        <xs:element name="Selection">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Selected_Report" type="xs:string"/>
                                    <xs:element name="Selected_Month" type="xs:string"/>
                                    <xs:element name="Selected_Year" type="xs:string"/>
                                    <xs:element name="Selected_Action" type="xs:string"/>
                                    <xs:element name="User_Action" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="FileName" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="RequestStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="Message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="CheckReportStatus">
        <wsdl:port name="Receive_sp_Incoming_sp_Data_sp_Request" binding="tns:Receive_sp_Incoming_sp_Data_sp_RequestBinding">
            <soap:address location="http://localhost:10201/Processes/Integration_Interfaces/CommonProcesses/CheckReportStatus"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="CheckReportStatus">
            <wsdl:input message="tns:ReportStatusRequest"/>
            <wsdl:output message="tns:ReportStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Receive_sp_Incoming_sp_Data_sp_RequestBinding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CheckReportStatus">
            <soap:operation style="document" soapAction="/Processes/Integration_Interfaces/CommonProcesses/CheckReportStatus"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReportStatusRequest">
        <wsdl:part name="part1" element="ns0:UserInfo"/>
    </wsdl:message>
    <wsdl:message name="ReportStatusResponse">
        <wsdl:part name="part1" element="ns1:RequestStatus"/>
    </wsdl:message>
</wsdl:definitions>