src_code/JBSIS2EForms/contracts/RetrieveFileData09aClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/RetrieveFileData/1.0/wsdl/Retrieve09aDataImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/1.0/xsd" xmlns:ns1="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" xmlns:ns2="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/JBSIS09aV2_INT/1.0/xsd" name="Untitled" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/RetrieveFileData/1.0/wsdl/Retrieve09aDataImpl">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/JBSIS09aV2_INT/1.0/xsd" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/JBSIS09aV2_INT/1.0/xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:element name="CASE_TYPE_CODE">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:element name="BEGIN_PENDING" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="INITIAL_FILINGS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="EXISTING_CASE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="END_PENDING" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISPOSITIONS_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_BEFORE_HRG_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="BHRG_DISM" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="BHRG_CHANGE_VENUE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_AFTER_HRG_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNCONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNC_DISM" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNC_CHANGE_VENUE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNC_ENTRY_JGMT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNC_EOJ_DEPEND" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_UNC_EOJ_OTHER" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CN_DISM" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CN_CHANGE_VENUE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CN_ENTRY_JGMT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CN_EOJ_DEPEND" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AHRG_CN_EOJ_OTHER" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_RULING_ADOPTION" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="BEGIN_CASES" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CASES_ADDED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_EXISTING_CASE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TEMINATIONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_CHANGE_VENUE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="END_CASES" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TERM_LT_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TERM_18_LT_36_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TERM_36_72_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TERM_GT_72_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_LT_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_18_LT_36_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_36_72_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SUPRV_GT_72_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HEARINGS_TOTAL_1" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HEARINGS_TOTAL_2" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ADOPT_GUARDIAN_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DETENTION_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="FIRST_APPEAR_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_HRG_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_HRG_UNCONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="DISP_HRG_CONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI_388_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SEAL_REC_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OSC_HRG" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="REHEARING_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="RHRG_UNCONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="RHRG_CONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_UNCONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_UNC_LE_12MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_UNC_GT_12MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_CONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_CN_LE_12MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_CN_GT_12MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HRG_OTHER_TOTAL_1" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HRG_OTHER_TOTAL_2" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HRG_OTHER_UNCONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="HRG_OTHER_CONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PRETRIAL_CONF" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="STTLMT_CONF" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="MED_CONF" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="REVIEWS_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SIX_MON_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SIX_MON_UNCONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC6_LE_6_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC6_GT_6_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SIX_MON_CONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN6_LE_6_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN6_GT_6_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TWELVE_MON_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TWELVE_MON_UNCONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC12_LE_12_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC12_GT_12_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TWELVE_MON_CONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN12_LE_12_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN12_GT_12_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="EIGHTEEN_MON_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="EIGHTEEN_MON_UNCONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC18_LE_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="UNC18_GT_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="EIGHTEEN_MON_CONTESTED_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN18_LE_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CN18_GT_18_MONS" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OTHER_REVIEW_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OTH_RVW_UNCONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OTH_RVW_CONTESTED" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="WI366_26_HRG_OUTCOME_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PARENT_RIGHTS_TERM_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PR_TERM_LEGAL_GUARDIAN" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PR_TERM_FOSTER_CARE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PR_TERM_ADOPTION_PLACEMENT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PARENT_RIGHTS_NOT_TERM_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LEGAL_GUARDIANSHIP" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LONG_TERM_FOSTER_CARE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ADOPT_AS_PLACE_GOAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CONTINUANCES_TOTAL" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CRT_MOTION" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PTY_MOTION" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="INDIAN_CHILD_WELFARE" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="INTERSTATE_COMPACT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="PRO_PER_PARENT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CRT_APPT_COUNSEL_PARENT" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="JBSIS09aV2-INT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Control_sum_09a" type="xsd:string"/>
                        <xsd:element name="COURT" type="xsd:string"/>
                        <xsd:element name="DATA_AS_OF_DATE" type="xsd:string"/>
                        <xsd:element name="AMEND_CODE" type="xsd:string"/>
                        <xsd:element name="MAJOR_DOCUMENT_NUMBER" type="xsd:string"/>
                        <xsd:element name="MINOR_DOCUMENT_NUMBER" type="xsd:string"/>
                        <xsd:element ref="ns2:CASE_TYPE_CODE" maxOccurs="unbounded"/>
                        <xsd:element name="RUN_DATE" type="xsd:string"/>
                        <xsd:element name="RUN_TIME" type="xsd:string"/>
                        <xsd:element name="EXTRACT_TYPE_CODE" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/Status/1.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="RequestStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="Message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/UserInfo/1.0/xsd" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/isb/Schema/global/JBSIS/UserInfo/1.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="UserInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Court_Code" type="xs:string"/>
                        <xs:element name="UserName" type="xs:string" minOccurs="0"/>
                        <xs:element name="Request_Date" type="xs:string"/>
                        <xs:element name="Request_Time" type="xs:string"/>
                        <xs:element name="Selection">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Selected_Report" type="xs:string"/>
                                    <xs:element name="Selected_Month" type="xs:string"/>
                                    <xs:element name="Selected_Year" type="xs:string"/>
                                    <xs:element name="Selected_Action" type="xs:string"/>
                                    <xs:element name="User_Action" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="FileName" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="RetrieveFileData09a">
        <wsdl:port name="Receive_sp_Incoming_sp_Data_sp_Request" binding="tns:Receive_sp_Incoming_sp_Data_sp_RequestBinding">
            <soap:address location="http://localhost:10201/Processes/Integration_Interfaces/09a/RetrieveFileData09a"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="RetrieveData">
        <wsdl:operation name="Retrieve09aData">
            <wsdl:input message="tns:RetrieveFileDataRequest"/>
            <wsdl:output message="tns:RetrieveFileData09aResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Receive_sp_Incoming_sp_Data_sp_RequestBinding" type="tns:RetrieveData">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Retrieve09aData">
            <soap:operation style="document" soapAction="/Processes/Integration_Interfaces/09a/RetrieveFileData09a"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1 part2"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="RetrieveFileDataRequest">
        <wsdl:part name="part1" element="ns0:UserInfo"/>
    </wsdl:message>
    <wsdl:message name="RetrieveFileData09aResponse">
        <wsdl:part name="part1" element="ns1:RequestStatus"/>
        <wsdl:part name="part2" element="ns2:JBSIS09aV2-INT"/>
    </wsdl:message>
</wsdl:definitions>